<!DOCTYPE html>
<html lang="en">

<head th:replace="admin/dashboard :: header">

<body>
<!-- login page start-->
<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card">
                <div>
                    <div><a class="logo" href="#"><img class="img-fluid for-light" src="/Admin/images/LogoColoShop.png"
                                                       alt="looginpage"></a></div>
                    <div class="login-main">
                        <form class="theme-form" action="/Do_Login" method="Post">
                            <h4>Sign in to account</h4>
                            <p>Enter your email & password to login</p>
                            <div class="form-group">
                                <label class="col-form-label">Email Address</label>
                                <input class="form-control" type="email" required="" placeholder="Test@gmail.com" name="email">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <div class="form-input position-relative">
                                    <input id="passwordInput"  class="form-control" type="password" name="pass" required=""
                                           placeholder="*********">
                                    <div class="show-hide">
                                        <span id="togglePassword" class="Show"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                    <div class="text-end mt-3">
                                    <button class="btn btn-primary btn-block w-100" type="submit">Sign in</button>
                                </div>
                            </div>
                            <h6 class="text-muted mt-4 or">Or Sign in with</h6>
                            <div class="social mt-4">
                            </div>
                            <p class="mt-4 mb-0 text-center">Don't have account?<a class="ms-2" href="/SignUp">Create
                                Account</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="admin/dashboard :: script"></div>
    <script>
        document.getElementById("togglePassword").addEventListener("click", function() {
            var passwordInput = document.getElementById("passwordInput");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                document.getElementById("togglePassword").textContent = "";
            } else {
                passwordInput.type = "password";
                document.getElementById("togglePassword").textContent = "";
            }
        });
    </script>
</div>
</body>

</html>